@font-face {
    font-family: 'flame-bold';
    src: url(assets/fonts/FlameBold.otf);
}
@font-face {
    font-family: 'flame';
    src: url(assets/fonts/FlameRegular.otf);
}

/* Nave bar start */
.pink
{
    background-color: #F5EBDC;
    padding: 20px 5px;
    border-bottom: 1px solid #5f5f5f;
}
.hederbtns
{
    font-family: 'flame';
background-color: #D62300;
color: #fff;

}
.hederbtns-black
{
    font-family: 'flame';
    background-color: #000;
    color: #fff;

}
.ham-burg
{
    width: 486px;
    font-size: 25px;
}
@media only screen and (max-width:1022px)
{
    
    .ham-burg
    {
        width: 290px;
        font-size: 25px;
    }
}
@media only screen and (max-width:768px)
{
    .ham-burg
    {
        width: 290px;
        font-size: 25px;
    }
    
.logo
{
    display: none;
}
}
@media only screen and (max-width:520px)
{
    .ham-burg
    {
        width: 50px;
        font-size: 25px;
    }
    
.logo
{
    display: none;
}
}
/* Nave bar end  */